<section>
    <h3>Liste des avions</h3>
    <article>
        <table>
            <thead>
                <tr>
                    <td><strong>Code</strong></td>
                    <td><strong>Modèle</strong></td>
                    <td><strong>Capacité</strong></td>
                    <td><strong>Autonomie</strong></td>
                </tr>
            </thead>
            <tbody *ngFor="let a of volServ.avions" (click)="selectAvion(a.code)">
                <tr>
                    <td>{{a.code}}</td>
                    <td>{{a.modele}}</td>
                    <td>{{a.capacite}}</td>
                    <td>{{a.autonomie}}</td>
                </tr>
            </tbody>
        </table>
    </article>
</section>

<section>
    <h3>Liste des avions disponibles !</h3>
    <form (submit)="updateAvion()" #f="ngForm" *ngIf="avion">
        <input [(ngModel)]="avion.modele" name="modele">
        <input [(ngModel)]="avion.capacite" type="number" name="capacite">
        <input [(ngModel)]="avion.autonomie" type="number" name="autonomie">
        <input [(ngModel)]="avion.code" name="code">
        <input type="submit" value="Valider" >
        <input type="reset" value="Annuler" (click)="resetAvion()">
    </form>
</section>