<nav class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center">
          <a routerLink="/" href *ngIf="!auth.isLoggedIn" class="footer-link">SE CONNECTER</a>
          <a href="#" class="footer-link" *ngIf="auth.isLoggedIn" (click)="user.deconnexion()">SE DÉCONNECTER</a>
        </div>
        <div class="col-md-6 text-center">
          <a routerLink="/mention" href class="footer-link">MENTIONS LÉGALES</a>
        </div>
      </div>
    </div>
  </nav>
  