<nav>
    <a routerLink="edition" href>Éditer Personnel</a>
</nav>
<section> 
    <h3>Liste du personnel</h3>
    <article >
        <table>
            <thead>
                <tr>
                    <td><strong>Nom</strong></td>
                    <td><strong>Prénom</strong></td>
                    <td><strong>Habilitation</strong></td>
                </tr>
            </thead>
            <tbody *ngFor= "let p of compagnie.personnels">
            <tr>
                    <td>{{p.data.nom | uppercase}}</td>
                    <td>{{p.data.prenom}}</td>
                    <td>{{p.data.habilitation}}</td>
            </tr>
            <!-- <tr *ngFor="let p of compagnie.personnels$ | async">
                <td>{{  p.data.nom }}</td>
                <td>{{  p.data.prenom.join() }}</td>
                <td>{{  p.data.habilitation }}</td>
            </tr> -->
            </tbody>
        </table>
    </article>

</section>