<section>
    <h1>Ajout de personnel </h1>
    <form (submit)="addPersonnel()">
        <label for="nom">Nom :</label>
        <input type="text"  id="nom" name="nom" placeholder="Saisissez le nom"><br><br>
        <label for="prenom">Prénom :</label>
        <input type="text"  id="prenom" name="prenom" placeholder="Saisissez le prénom"><br><br>
        <label for="prenom">Habilitation :</label>
        <input type="text"  id="habilitation" name="habilitation" placeholder="Saisissez l'habilitation"><br><br>
        <input type="submit" value="Modifier">
        <input type="reset" value="Annuler">
    </form>
</section>
