<div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <aside>
          <nav>
            <a href routerLink="/intranet" title="Retourner à l'accueil de l'Intranet">Attributions</a>
            <a href routerLink="/intranet/avion" title="Administrer les avions">Avions</a>
            <a href routerLink="/intranet/personnels" title="Voir ou éditer les personnels">Personnels</a>
            <a href routerLink="/intranet/aeroports" title="Liste des différents aéroports">Aéroports</a>
          </nav>
        </aside>
      </div>
      <div class="col-md-7">
        <section>
          <h2>Bienvenue dans l'intranet</h2>
          <router-outlet></router-outlet>
        </section>
      </div>
    </div>
  </div>
  