<section>
    <h2> Se connecter</h2>
    <h3> Vous devez être connecté pour gérer les vols</h3>
    <form (submit)="checkFromFire()" #f="ngForm">
        <img src="https://us.123rf.com/450wm/jovanas/jovanas1602/jovanas160201197/52032258-logo-avion-volant-autour-de-la-plan%C3%A8te-terre-noire.jpg?ver=6" width="72" height="72">
        <div class="form-floating">
            <input type="floatingInput" class="form-control" id="id"  name="id" [(ngModel)]="id.id" #ctlId="ngModel" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="form-floating">
            <input type="floatingPassword" class="form-control" id="password"  name="password" #ctlPasse="ngModel" [(ngModel)]="id.passe" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>
        <input type="submit" value="Connexion" [disabled]="f.invalid">
        <input type="reset" value="Annuler">
    </form>
</section>