<section>
    <h1>Ajout de personnel </h1>
    <form (submit)="addVol()" (reset)="retourPersonnel()">
        <label for="nom">Aéroport de départ :</label>
        <input type="text" placeholder="Choisissez la ville"matInput
            [formControl]="aeroportDepartControl" [matAutocomplete]="autoDepart">
        <mat-autocomplete #autoDepart>
            <mat-option *ngFor="let option of aeroportDepartFilteredOptions | async" [value]="option">
                {{ option }}
            </mat-option>
        </mat-autocomplete>
        <label for="prenom">Aéroport d'arrivée :</label>
        <input type="text" placeholder="Choisissez la ville"  matInput
            [formControl]="aeroportArriveeControl" [matAutocomplete]="autoArrivee">
        <mat-autocomplete #autoArrivee>
            <mat-option *ngFor="let option of aeroportArriveeFilteredOptions | async" [value]="option">
                {{ option }}
            </mat-option>
        </mat-autocomplete>
        <label for="PNC">Avion :</label>
        <input type="text" placeholder="Choisissez le modèle de l'avion'" matInput
            [formControl]="avionControl" [matAutocomplete]="autoAvion">
        <mat-autocomplete #autoAvion>
            <mat-option *ngFor="let option of avionFilteredOptions | async" [value]="option">
                {{ option }}
            </mat-option>
        </mat-autocomplete>
        <label for="nom">Date du vol :</label>
        <input type="date" [(ngModel)]="vol.date" id="nom" name="nom" placeholder="Saisissez le nom"><br><br>
        <label for="nom">Durée du vol (en minutes) :</label>
        <input type="number" [(ngModel)]="vol.duree" id="nom" name="nom" placeholder="Saisissez la duree"><br><br>
        <label for="prenom">Choisissez le personnel :</label>
        <label for="pilote">Pilote:</label>
        <input type="text" placeholder="Choisissez la ville" matInput
            [formControl]="piloteControl" [matAutocomplete]="autoPilote">
        <mat-autocomplete #autoPilote>
            <mat-option *ngFor="let option of piloteFilteredOptions | async" [value]="option">
                {{ option }}
            </mat-option>
        </mat-autocomplete>
        <label for="copilote">Copilote :</label>
        <input type="text" placeholder="Choisissez la ville"  matInput
            [formControl]="copiloteControl" [matAutocomplete]="autoCopilote">
        <mat-autocomplete #autoCopilote>
            <mat-option *ngFor="let option of copiloteFilteredOptions | async" [value]="option">
                {{ option }}
            </mat-option>
        </mat-autocomplete>
        <label for="PNC">Personnel Navigant Commercial :</label>
        <input type="text" placeholder="Choisissez la ville"  matInput
            [formControl]="pncControl" [matAutocomplete]="autoPNC">
        <mat-autocomplete #autoPNC>
            <mat-option *ngFor="let option of pncFilteredOptions | async" [value]="option">
                {{ option }}
            </mat-option>
        </mat-autocomplete>
        <input type="submit" value="Ajouter">
        <input type="reset" value="Annuler">
    </form>
</section>