<nav>
    <a routerLink="edition" href>Éditer vols</a>
</nav>
<section> 
    <h3>Liste des vols dont le personnel doit être attribué</h3>
    <article >
        <input [(ngModel)]="filtreModele" name="filtre"> 
        <table>
            <thead>
                <tr>
                    <td>Code</td>
                    <td>Modèle d'avion</td>
                    <td>Date de départ</td>
                    <td>Durée du vol</td>
                    <td>Aéroport de départ</td>
                    <td>Aéroport d'arrivée</td>
                    <td>Personnel déjà attribué</td>
                </tr>
            </thead>
            <tr *ngFor= "let v of compagnie.listeVols | vols:filtreModele">
                <td>{{v.data.code}}</td>
                <td>{{v.data.avion| modele | async}}</td>
                <td>{{v.data.date.toDate() | date:'yyyy/MM/dd h:mm:ss a'}}</td>
                <td>{{v.data.duree * 1000 * 60| date:'HH:mm':'UTC'}}</td>
                <td>{{v.data.aeroportDepart}}</td>
                <td>{{v.data.aeroportArrivee}}</td>
                <td>
                    <ul>
                        <li *ngFor= "let p of v.data.personnels">{{p.toString() | personnel | async}}</li>
                    </ul>
                </td>
            </tr>
        </table>
    </article>

</section>
