<section>
    <h1>{{pagesServ.contenu.profil.titre}}</h1>
    <form (submit)="updateProfil()" (reset)="retourProfil()">
        <label >Nom:</label>
        <input type="text"  name="nom" [(ngModel)]="pagesServ.profil.nom"><br><br>
        <label >Prénom:</label>
        <input type="text"  name="prenom" [(ngModel)]="pagesServ.profil.prenom"><br><br>
        <label >Téléphone :</label>
        <input type="submit" value="Modifier">
        <input type="reset" value="Annuler">
    </form>
</section>
