<section>
    <h1> Modification du profil utilisateur </h1>
    <form class="profil_edition" (submit)="weirdUpdate()" (reset)="retourProfil()">
        <label >Nom:</label>
        <input class ="p-inputtext" type="text"  name="nom" [(ngModel)]="user.user.nom"><br><br>
        <label >Prénom:</label>
        <input class ="p-inputtext" type="text"  name="prenom" [(ngModel)]="user.user.prenom"><br><br>
        <input type="submit" value="Modifier">
        <input type="reset" value="Annuler">
    </form>
</section>
